*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
}
.mainContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

/* Bonus */
.score{
    grid-column: 2;
    color: #ffbe01;
}
li{
    display: flex;
    list-style-type: none;
}
.bonus1, .bonus2, .bonus3, .bonus4, .bonus5{
    justify-content: flex-end;
    padding: 5%;
}

/* Main Button and Counter */
/* .mainCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;

} */
.mainBtn{
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    
}
.mainBtn img{
    width: 30%;
    height: auto; 
    cursor: pointer;
}
.counter{
    display: flex;
    border: 2px dotted;
    width: 20%;
    height: 30%;
    justify-content: center;
    align-items: center;
    font-size:xx-large;
}
.mainContainer > .counter{
    justify-self: center;
    align-self: center;
}
