*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(galaxy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.classContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.score{
    grid-column: 2;

}
li{
    list-style-type: none;
    margin-top: 2%;
    margin-right: 10%;
}
.bonus1{
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}

.bonus2{
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}
.bonus3{
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}
.bonus4{
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}
.bonus5{
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}

.button1, .button2, .button3, .button4, .button5 {
    padding: 2%;
    border: none;
    background-color: transparent;
    color: white;
}

.button {
    cursor: pointer;
    transition-duration: 0.4s;
}
